/*
 * Code generated by Speakeasy (https://speakeasy.com). DO NOT EDIT.
 * @generated-id: bb0f64b97137
 */

import * as z from "zod/v4-mini";
import { GalileoGeneratedCore } from "../core.js";
import { encodeJSON } from "../lib/encodings.js";
import * as M from "../lib/matchers.js";
import { compactMap } from "../lib/primitives.js";
import { safeParse } from "../lib/schemas.js";
import { RequestOptions } from "../lib/sdks.js";
import { resolveOAuth2Password, resolveSecurity } from "../lib/security.js";
import { pathToFunc } from "../lib/url.js";
import { GalileoGeneratedError } from "../models/errors/galileogeneratederror.js";
import {
  ConnectionError,
  InvalidRequestError,
  RequestAbortedError,
  RequestTimeoutError,
  UnexpectedClientError,
} from "../models/errors/httpclienterrors.js";
import * as errors from "../models/errors/index.js";
import { ResponseValidationError } from "../models/errors/responsevalidationerror.js";
import { SDKValidationError } from "../models/errors/sdkvalidationerror.js";
import * as models from "../models/index.js";
import * as operations from "../models/operations/index.js";
import { APICall, APIPromise } from "../types/async.js";
import { Result } from "../types/fp.js";

/**
 * Bulk Delete Datasets
 *
 * @remarks
 * Delete multiple datasets in bulk.
 *
 * This endpoint allows efficient deletion of multiple datasets at once.
 * It validates permissions for each dataset in the service and provides detailed feedback about
 * successful and failed deletions for each dataset.
 *
 * Parameters
 * ----------
 * delete_request : BulkDeleteDatasetsRequest
 *     Request containing list of dataset IDs to delete (max 100)
 * ctx : Context
 *     Request context including authentication information
 *
 * Returns
 * -------
 * BulkDeleteDatasetsResponse
 *     Details about the bulk deletion operation including:
 *     - Number of successfully deleted datasets
 *     - List of failed deletions with reasons
 *     - Summary message
 */
export function datasetsBulkDeleteDatasetsDatasetsBulkDeleteDelete(
  client: GalileoGeneratedCore,
  security: operations.BulkDeleteDatasetsDatasetsBulkDeleteDeleteSecurity,
  request: models.BulkDeleteDatasetsRequest,
  options?: RequestOptions,
): APIPromise<
  Result<
    models.BulkDeleteDatasetsResponse,
    | errors.HTTPValidationError
    | GalileoGeneratedError
    | ResponseValidationError
    | ConnectionError
    | RequestAbortedError
    | RequestTimeoutError
    | InvalidRequestError
    | UnexpectedClientError
    | SDKValidationError
  >
> {
  return new APIPromise($do(
    client,
    security,
    request,
    options,
  ));
}

async function $do(
  client: GalileoGeneratedCore,
  security: operations.BulkDeleteDatasetsDatasetsBulkDeleteDeleteSecurity,
  request: models.BulkDeleteDatasetsRequest,
  options?: RequestOptions,
): Promise<
  [
    Result<
      models.BulkDeleteDatasetsResponse,
      | errors.HTTPValidationError
      | GalileoGeneratedError
      | ResponseValidationError
      | ConnectionError
      | RequestAbortedError
      | RequestTimeoutError
      | InvalidRequestError
      | UnexpectedClientError
      | SDKValidationError
    >,
    APICall,
  ]
> {
  const parsed = safeParse(
    request,
    (value) => z.parse(models.BulkDeleteDatasetsRequest$outboundSchema, value),
    "Input validation failed",
  );
  if (!parsed.ok) {
    return [parsed, { status: "invalid" }];
  }
  const payload = parsed.value;
  const body = encodeJSON("body", payload, { explode: true });

  const path = pathToFunc("/datasets/bulk_delete")();

  const headers = new Headers(compactMap({
    "Content-Type": "application/json",
    Accept: "application/json",
  }));

  const requestSecurity = resolveSecurity(
    [
      {
        fieldName: "Galileo-API-Key",
        type: "apiKey:header",
        value: security?.apiKeyHeader,
      },
    ],
    [
      {
        fieldName: "Authorization",
        type: "oauth2:password",
        value: resolveOAuth2Password(security?.oAuth2PasswordBearer, {
          defaults: { tokenURL: "https://api.galileo.ai/login" },
        }),
      },
    ],
    [
      {
        type: "http:basic",
        value: {
          username: security?.httpBasic?.username,
          password: security?.httpBasic?.password,
        },
      },
    ],
  );

  const context = {
    options: client._options,
    baseURL: options?.serverURL ?? client._baseURL ?? "",
    operationID: "bulk_delete_datasets_datasets_bulk_delete_delete",
    oAuth2Scopes: [],

    resolvedSecurity: requestSecurity,

    securitySource: security,
    retryConfig: options?.retries
      || client._options.retryConfig
      || { strategy: "none" },
    retryCodes: options?.retryCodes || ["429", "500", "502", "503", "504"],
  };

  const requestRes = client._createRequest(context, {
    security: requestSecurity,
    method: "DELETE",
    baseURL: options?.serverURL,
    path: path,
    headers: headers,
    body: body,
    userAgent: client._options.userAgent,
    timeoutMs: options?.timeoutMs || client._options.timeoutMs || -1,
  }, options);
  if (!requestRes.ok) {
    return [requestRes, { status: "invalid" }];
  }
  const req = requestRes.value;

  const doResult = await client._do(req, {
    context,
    errorCodes: ["422", "4XX", "5XX"],
    retryConfig: context.retryConfig,
    retryCodes: context.retryCodes,
  });
  if (!doResult.ok) {
    return [doResult, { status: "request-error", request: req }];
  }
  const response = doResult.value;

  const responseFields = {
    HttpMeta: { Response: response, Request: req },
  };

  const [result] = await M.match<
    models.BulkDeleteDatasetsResponse,
    | errors.HTTPValidationError
    | GalileoGeneratedError
    | ResponseValidationError
    | ConnectionError
    | RequestAbortedError
    | RequestTimeoutError
    | InvalidRequestError
    | UnexpectedClientError
    | SDKValidationError
  >(
    M.json(200, models.BulkDeleteDatasetsResponse$inboundSchema),
    M.jsonErr(422, errors.HTTPValidationError$inboundSchema),
    M.fail("4XX"),
    M.fail("5XX"),
  )(response, req, { extraFields: responseFields });
  if (!result.ok) {
    return [result, { status: "complete", request: req, response }];
  }

  return [result, { status: "complete", request: req, response }];
}
