/*
 * Code generated by Speakeasy (https://speakeasy.com). DO NOT EDIT.
 * @generated-id: a7d09296b4f2
 */

import * as z from "zod/v4-mini";
import { GalileoGeneratedCore } from "../core.js";
import { encodeJSON, encodeSimple } from "../lib/encodings.js";
import * as M from "../lib/matchers.js";
import { compactMap } from "../lib/primitives.js";
import { safeParse } from "../lib/schemas.js";
import { RequestOptions } from "../lib/sdks.js";
import { resolveOAuth2Password, resolveSecurity } from "../lib/security.js";
import { pathToFunc } from "../lib/url.js";
import { GalileoGeneratedError } from "../models/errors/galileogeneratederror.js";
import {
  ConnectionError,
  InvalidRequestError,
  RequestAbortedError,
  RequestTimeoutError,
  UnexpectedClientError,
} from "../models/errors/httpclienterrors.js";
import * as errors from "../models/errors/index.js";
import { ResponseValidationError } from "../models/errors/responsevalidationerror.js";
import { SDKValidationError } from "../models/errors/sdkvalidationerror.js";
import * as operations from "../models/operations/index.js";
import { APICall, APIPromise } from "../types/async.js";
import { Result } from "../types/fp.js";

/**
 * Update Dataset Content
 *
 * @remarks
 * Update the content of a dataset.
 *
 * The `index` and `column_name` fields are treated as keys tied to a specific version of the dataset.
 * As such, these values are considered immutable identifiers for the dataset's structure.
 *
 * For example, if an edit operation changes the name of a column, subsequent edit operations in
 * the same request should reference the column using its original name.
 *
 * The `If-Match` header is used to ensure that updates are only applied if the client's version of the dataset
 * matches the server's version. This prevents conflicts from simultaneous updates. The `ETag` header in the response
 * provides the new version identifier after a successful update.
 */
export function datasetsUpdateDatasetContentDatasetsDatasetIdContentPatch(
  client: GalileoGeneratedCore,
  security:
    operations.UpdateDatasetContentDatasetsDatasetIdContentPatchSecurity,
  request: operations.UpdateDatasetContentDatasetsDatasetIdContentPatchRequest,
  options?: RequestOptions,
): APIPromise<
  Result<
    any,
    | errors.HTTPValidationError
    | GalileoGeneratedError
    | ResponseValidationError
    | ConnectionError
    | RequestAbortedError
    | RequestTimeoutError
    | InvalidRequestError
    | UnexpectedClientError
    | SDKValidationError
  >
> {
  return new APIPromise($do(
    client,
    security,
    request,
    options,
  ));
}

async function $do(
  client: GalileoGeneratedCore,
  security:
    operations.UpdateDatasetContentDatasetsDatasetIdContentPatchSecurity,
  request: operations.UpdateDatasetContentDatasetsDatasetIdContentPatchRequest,
  options?: RequestOptions,
): Promise<
  [
    Result<
      any,
      | errors.HTTPValidationError
      | GalileoGeneratedError
      | ResponseValidationError
      | ConnectionError
      | RequestAbortedError
      | RequestTimeoutError
      | InvalidRequestError
      | UnexpectedClientError
      | SDKValidationError
    >,
    APICall,
  ]
> {
  const parsed = safeParse(
    request,
    (value) =>
      z.parse(
        operations
          .UpdateDatasetContentDatasetsDatasetIdContentPatchRequest$outboundSchema,
        value,
      ),
    "Input validation failed",
  );
  if (!parsed.ok) {
    return [parsed, { status: "invalid" }];
  }
  const payload = parsed.value;
  const body = encodeJSON("body", payload.body, { explode: true });

  const pathParams = {
    dataset_id: encodeSimple("dataset_id", payload.dataset_id, {
      explode: false,
      charEncoding: "percent",
    }),
  };

  const path = pathToFunc("/datasets/{dataset_id}/content")(pathParams);

  const headers = new Headers(compactMap({
    "Content-Type": "application/json",
    Accept: "application/json",
    "If-Match": encodeSimple("If-Match", payload["If-Match"], {
      explode: false,
      charEncoding: "none",
    }),
  }));

  const requestSecurity = resolveSecurity(
    [
      {
        fieldName: "Galileo-API-Key",
        type: "apiKey:header",
        value: security?.apiKeyHeader,
      },
    ],
    [
      {
        fieldName: "Authorization",
        type: "oauth2:password",
        value: resolveOAuth2Password(security?.oAuth2PasswordBearer, {
          defaults: { tokenURL: "https://api.galileo.ai/login" },
        }),
      },
    ],
    [
      {
        type: "http:basic",
        value: {
          username: security?.httpBasic?.username,
          password: security?.httpBasic?.password,
        },
      },
    ],
  );

  const context = {
    options: client._options,
    baseURL: options?.serverURL ?? client._baseURL ?? "",
    operationID: "update_dataset_content_datasets__dataset_id__content_patch",
    oAuth2Scopes: [],

    resolvedSecurity: requestSecurity,

    securitySource: security,
    retryConfig: options?.retries
      || client._options.retryConfig
      || { strategy: "none" },
    retryCodes: options?.retryCodes || ["429", "500", "502", "503", "504"],
  };

  const requestRes = client._createRequest(context, {
    security: requestSecurity,
    method: "PATCH",
    baseURL: options?.serverURL,
    path: path,
    headers: headers,
    body: body,
    userAgent: client._options.userAgent,
    timeoutMs: options?.timeoutMs || client._options.timeoutMs || -1,
  }, options);
  if (!requestRes.ok) {
    return [requestRes, { status: "invalid" }];
  }
  const req = requestRes.value;

  const doResult = await client._do(req, {
    context,
    errorCodes: ["422", "4XX", "5XX"],
    retryConfig: context.retryConfig,
    retryCodes: context.retryCodes,
  });
  if (!doResult.ok) {
    return [doResult, { status: "request-error", request: req }];
  }
  const response = doResult.value;

  const responseFields = {
    HttpMeta: { Response: response, Request: req },
  };

  const [result] = await M.match<
    any,
    | errors.HTTPValidationError
    | GalileoGeneratedError
    | ResponseValidationError
    | ConnectionError
    | RequestAbortedError
    | RequestTimeoutError
    | InvalidRequestError
    | UnexpectedClientError
    | SDKValidationError
  >(
    M.json(200, z.any()),
    M.jsonErr(422, errors.HTTPValidationError$inboundSchema),
    M.fail("4XX"),
    M.fail("5XX"),
  )(response, req, { extraFields: responseFields });
  if (!result.ok) {
    return [result, { status: "complete", request: req, response }];
  }

  return [result, { status: "complete", request: req, response }];
}
