/*
 * Code generated by Speakeasy (https://speakeasy.com). DO NOT EDIT.
 * @generated-id: c3653348a8c8
 */

import { GalileoGeneratedCore } from "../core.js";
import { matchStatusCode } from "../lib/http.js";
import * as M from "../lib/matchers.js";
import { compactMap } from "../lib/primitives.js";
import { RequestOptions } from "../lib/sdks.js";
import { resolveOAuth2Password, resolveSecurity } from "../lib/security.js";
import { pathToFunc } from "../lib/url.js";
import { GalileoGeneratedError } from "../models/errors/galileogeneratederror.js";
import {
  ConnectionError,
  InvalidRequestError,
  RequestAbortedError,
  RequestTimeoutError,
  UnexpectedClientError,
} from "../models/errors/httpclienterrors.js";
import { ResponseValidationError } from "../models/errors/responsevalidationerror.js";
import { SDKValidationError } from "../models/errors/sdkvalidationerror.js";
import * as models from "../models/index.js";
import * as operations from "../models/operations/index.js";
import { APICall, APIPromise } from "../types/async.js";
import { Result } from "../types/fp.js";

/**
 * Manual Llm Validate
 *
 * @remarks
 * Validate an LLM scorer manually, with query/response passed inline (no file uploads).
 *
 * Args:
 *     request: Raw request; body is parsed into a GeneratedScorerValidationRequest.
 *     ctx: Async request context with the authenticated user and read session.
 *
 * Returns:
 *     A pending task result the caller can poll for validation results.
 */
export function promptsManualLlmValidateScorersLlmValidatePost(
  client: GalileoGeneratedCore,
  security: operations.ManualLlmValidateScorersLlmValidatePostSecurity,
  options?: RequestOptions,
): APIPromise<
  Result<
    models.GeneratedScorerValidationResponse,
    | GalileoGeneratedError
    | ResponseValidationError
    | ConnectionError
    | RequestAbortedError
    | RequestTimeoutError
    | InvalidRequestError
    | UnexpectedClientError
    | SDKValidationError
  >
> {
  return new APIPromise($do(
    client,
    security,
    options,
  ));
}

async function $do(
  client: GalileoGeneratedCore,
  security: operations.ManualLlmValidateScorersLlmValidatePostSecurity,
  options?: RequestOptions,
): Promise<
  [
    Result<
      models.GeneratedScorerValidationResponse,
      | GalileoGeneratedError
      | ResponseValidationError
      | ConnectionError
      | RequestAbortedError
      | RequestTimeoutError
      | InvalidRequestError
      | UnexpectedClientError
      | SDKValidationError
    >,
    APICall,
  ]
> {
  const path = pathToFunc("/scorers/llm/validate")();

  const headers = new Headers(compactMap({
    Accept: "application/json",
  }));

  const requestSecurity = resolveSecurity(
    [
      {
        fieldName: "Galileo-API-Key",
        type: "apiKey:header",
        value: security?.classicAPIKeyHeader,
      },
    ],
    [
      {
        fieldName: "Splunk-AO-API-Key",
        type: "apiKey:header",
        value: security?.apiKeyHeader,
      },
    ],
    [
      {
        fieldName: "Authorization",
        type: "oauth2:password",
        value: resolveOAuth2Password(security?.oAuth2PasswordBearer, {
          defaults: { tokenURL: "https://api.galileo.ai/login" },
        }),
      },
    ],
    [
      {
        type: "http:basic",
        value: {
          username: security?.httpBasic?.username,
          password: security?.httpBasic?.password,
        },
      },
    ],
  );

  const context = {
    options: client._options,
    baseURL: options?.serverURL ?? client._baseURL ?? "",
    operationID: "manual_llm_validate_scorers_llm_validate_post",
    oAuth2Scopes: [],

    resolvedSecurity: requestSecurity,

    securitySource: security,
    retryConfig: options?.retries
      || client._options.retryConfig
      || { strategy: "none" },
    retryCodes: options?.retryCodes || ["429", "500", "502", "503", "504"],
  };

  const requestRes = client._createRequest(context, {
    security: requestSecurity,
    method: "POST",
    baseURL: options?.serverURL,
    path: path,
    headers: headers,
    userAgent: client._options.userAgent,
    timeoutMs: options?.timeoutMs || client._options.timeoutMs || -1,
  }, options);
  if (!requestRes.ok) {
    return [requestRes, { status: "invalid" }];
  }
  const req = requestRes.value;

  const doResult = await client._do(req, {
    context,
    isErrorStatusCode: (statusCode: number) =>
      matchStatusCode({ status: statusCode } as Response, ["4XX", "5XX"]),
    retryConfig: context.retryConfig,
    retryCodes: context.retryCodes,
  });
  if (!doResult.ok) {
    return [doResult, { status: "request-error", request: req }];
  }
  const response = doResult.value;

  const [result] = await M.match<
    models.GeneratedScorerValidationResponse,
    | GalileoGeneratedError
    | ResponseValidationError
    | ConnectionError
    | RequestAbortedError
    | RequestTimeoutError
    | InvalidRequestError
    | UnexpectedClientError
    | SDKValidationError
  >(
    M.json(200, models.GeneratedScorerValidationResponse$inboundSchema),
    M.fail("4XX"),
    M.fail("5XX"),
  )(response, req);
  if (!result.ok) {
    return [result, { status: "complete", request: req, response }];
  }

  return [result, { status: "complete", request: req, response }];
}
