/*
 * Code generated by Speakeasy (https://speakeasy.com). DO NOT EDIT.
 * @generated-id: 4069a2c6b88b
 */

import * as z from "zod/v4-mini";
import { GalileoGeneratedCore } from "../core.js";
import { encodeJSON, encodeSimple } from "../lib/encodings.js";
import { matchStatusCode } from "../lib/http.js";
import * as M from "../lib/matchers.js";
import { compactMap } from "../lib/primitives.js";
import { safeParse } from "../lib/schemas.js";
import { RequestOptions } from "../lib/sdks.js";
import { resolveOAuth2Password, resolveSecurity } from "../lib/security.js";
import { pathToFunc } from "../lib/url.js";
import { GalileoGeneratedError } from "../models/errors/galileogeneratederror.js";
import {
  ConnectionError,
  InvalidRequestError,
  RequestAbortedError,
  RequestTimeoutError,
  UnexpectedClientError,
} from "../models/errors/httpclienterrors.js";
import * as errors from "../models/errors/index.js";
import { ResponseValidationError } from "../models/errors/responsevalidationerror.js";
import { SDKValidationError } from "../models/errors/sdkvalidationerror.js";
import * as models from "../models/index.js";
import * as operations from "../models/operations/index.js";
import { APICall, APIPromise } from "../types/async.js";
import { Result } from "../types/fp.js";

/**
 * Create Prompt Template With Version
 *
 * @remarks
 * For a given project, create a prompt template.
 *
 * We first create a prompt template version, and then create a prompt template that
 * points to that version as the selected version.
 *
 * Parameters
 * ----------
 * project_id : UUID4
 *     Project ID.
 * create_request : CreatePromptTemplateWithVersionRequestBody, optional
 *     Request body, by default Body( ...,
 *         examples=
 *         [BasePromptTemplateVersion.test_data() | BasePromptTemplate.test_data()],
 *     )
 * db_read : Session, optional
 *     Session object to execute DB reads, by default Depends(get_db_read)
 *
 * Returns
 * -------
 * CreatePromptTemplateResponse
 *     Details about the created prompt template.
 */
export function promptsCreatePromptTemplateWithVersionProjectsProjectIdTemplatesPost(
  client: GalileoGeneratedCore,
  security:
    operations.CreatePromptTemplateWithVersionProjectsProjectIdTemplatesPostSecurity,
  request:
    operations.CreatePromptTemplateWithVersionProjectsProjectIdTemplatesPostRequest,
  options?: RequestOptions,
): APIPromise<
  Result<
    models.BasePromptTemplateResponse,
    | errors.HTTPValidationError
    | GalileoGeneratedError
    | ResponseValidationError
    | ConnectionError
    | RequestAbortedError
    | RequestTimeoutError
    | InvalidRequestError
    | UnexpectedClientError
    | SDKValidationError
  >
> {
  return new APIPromise($do(
    client,
    security,
    request,
    options,
  ));
}

async function $do(
  client: GalileoGeneratedCore,
  security:
    operations.CreatePromptTemplateWithVersionProjectsProjectIdTemplatesPostSecurity,
  request:
    operations.CreatePromptTemplateWithVersionProjectsProjectIdTemplatesPostRequest,
  options?: RequestOptions,
): Promise<
  [
    Result<
      models.BasePromptTemplateResponse,
      | errors.HTTPValidationError
      | GalileoGeneratedError
      | ResponseValidationError
      | ConnectionError
      | RequestAbortedError
      | RequestTimeoutError
      | InvalidRequestError
      | UnexpectedClientError
      | SDKValidationError
    >,
    APICall,
  ]
> {
  const parsed = safeParse(
    request,
    (value) =>
      z.parse(
        operations
          .CreatePromptTemplateWithVersionProjectsProjectIdTemplatesPostRequest$outboundSchema,
        value,
      ),
    "Input validation failed",
  );
  if (!parsed.ok) {
    return [parsed, { status: "invalid" }];
  }
  const payload = parsed.value;
  const body = encodeJSON("body", payload.body, { explode: true });

  const pathParams = {
    project_id: encodeSimple("project_id", payload.project_id, {
      explode: false,
      charEncoding: "percent",
    }),
  };
  const path = pathToFunc("/projects/{project_id}/templates")(pathParams);

  const headers = new Headers(compactMap({
    "Content-Type": "application/json",
    Accept: "application/json",
  }));

  const requestSecurity = resolveSecurity(
    [
      {
        fieldName: "Galileo-API-Key",
        type: "apiKey:header",
        value: security?.apiKeyHeader,
      },
    ],
    [
      {
        fieldName: "Authorization",
        type: "oauth2:password",
        value: resolveOAuth2Password(security?.oAuth2PasswordBearer, {
          defaults: { tokenURL: "https://api.galileo.ai/login" },
        }),
      },
    ],
    [
      {
        type: "http:basic",
        value: {
          username: security?.httpBasic?.username,
          password: security?.httpBasic?.password,
        },
      },
    ],
  );

  const context = {
    options: client._options,
    baseURL: options?.serverURL ?? client._baseURL ?? "",
    operationID:
      "create_prompt_template_with_version_projects__project_id__templates_post",
    oAuth2Scopes: [],

    resolvedSecurity: requestSecurity,

    securitySource: security,
    retryConfig: options?.retries
      || client._options.retryConfig
      || { strategy: "none" },
    retryCodes: options?.retryCodes || ["429", "500", "502", "503", "504"],
  };

  const requestRes = client._createRequest(context, {
    security: requestSecurity,
    method: "POST",
    baseURL: options?.serverURL,
    path: path,
    headers: headers,
    body: body,
    userAgent: client._options.userAgent,
    timeoutMs: options?.timeoutMs || client._options.timeoutMs || -1,
  }, options);
  if (!requestRes.ok) {
    return [requestRes, { status: "invalid" }];
  }
  const req = requestRes.value;

  const doResult = await client._do(req, {
    context,
    isErrorStatusCode: (statusCode: number) =>
      matchStatusCode({ status: statusCode } as Response, ["4XX", "5XX"]),
    retryConfig: context.retryConfig,
    retryCodes: context.retryCodes,
  });
  if (!doResult.ok) {
    return [doResult, { status: "request-error", request: req }];
  }
  const response = doResult.value;

  const responseFields = {
    HttpMeta: { Response: response, Request: req },
  };

  const [result] = await M.match<
    models.BasePromptTemplateResponse,
    | errors.HTTPValidationError
    | GalileoGeneratedError
    | ResponseValidationError
    | ConnectionError
    | RequestAbortedError
    | RequestTimeoutError
    | InvalidRequestError
    | UnexpectedClientError
    | SDKValidationError
  >(
    M.json(200, models.BasePromptTemplateResponse$inboundSchema),
    M.jsonErr(422, errors.HTTPValidationError$inboundSchema),
    M.fail("4XX"),
    M.fail("5XX"),
  )(response, req, { extraFields: responseFields });
  if (!result.ok) {
    return [result, { status: "complete", request: req, response }];
  }

  return [result, { status: "complete", request: req, response }];
}
